<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>dd26fdc2e9462bd30414a3446fe85542</string>
	<key>apiSecret</key>
	<string>02392199bf6cbb29f0cd8360b91e6ccf</string>
</dict>
</plist>
